.col-sm-12 {
  color: white;
  min-height: 110px !important;
  border-radius: 5px;
  transform: all 500ms;
}
.col-sm-12 > .col-action {
  opacity: 0;
  width: 0;
  height: 0;
  transform: all 0.5s;
}
.col-sm-12:hover > .col-action {
  display: flex;
  opacity: 1;
  width: unset;
  height: unset;
  transform: all 0.5s;
}
.row {
  padding: 5px;
  min-height: 110px !important;
  background-color: #7ad5ff;
  border: 1px solid #ccc;
  position: relative;
  transform: all 500ms;
}

.row:hover > .row-action {
  display: flex !important;
}
body {
  background: #a0a0a030 !important;
}
